.ingestion-data/
firmware.lib
deploy/deployment.zip
deployment.zip
.registry/
.DS_Store
__pycache__/
.vscode/.ropeproject
workspace.code-workspace
.artifacts
node_modules
./package.json
k8s/packer/job-images.json
job-containers-vars.yaml
docker-compose.override.yml
tags.json
unit-tests/cppunit-1.15.1/autom4te.cache/
firmware-nordic-nrf91/edge-impulse-sdk/
.prettierrc.json
reports/
.vscode/
.devcontainer/
.env
pyrightconfig.json
selenium-tests/json/
tsconfig.tsbuildinfo
infra.values.yaml
container-vars.yaml
dry-run.yaml
customer.yaml
values.yaml
tmp/
*.code-workspace
**/.terraform
layers/200-k8s/kubeconfig_edge-impulse-k8s-prod
layers/200-k8s/kubeconfig_edge-impulse-k8s-staging
layers/**/*.plan
layers/**/*.log
layers/**/*.lock.hcl
bin/.cicd-container-hash
openapitools.json
.terraform.lock.hcl
terraform.tfstate*